<section class="df-wrapper yelp-map-list-wrapper">
  <div class="yelp-map-wrapper">
		<div class="yelp-map-container">
			<div class="tooltip" id="map-tooltip"></div>
		</div>
  </div>
  <div class="yelp-list-wrapper">
    <div class="yelp-list-header">
      <div>
        <h4></h4>
        <p>Top recommended spots</p>
      </div>
    </div>
    <div class="yelp-list-container"></div>
  </div>
</section>
