<!--  try adding class="fullheight", "grey", or "dark" to this section -->
<section class="df-wrapper">
	<!--  try adding a "halfwidth" class to this wrapper -->
	<div class="wrapper">
		<!--  put your headers or charts in <div class="prose"> to put it in a narrow column -->
		<!--  put them in a div with a "half" class to make it half width. do the same to your chart -->
		<h2>Hed</h2>
		<h4>Dek</h4>
		<div class="chart chart-wide sankey-container">
			<div class="tooltip" id="sankey-tooltip"></div>
		</div>
		<div class="prose">
			<p>This is a paragraph following your chart. You can edit it and move it around in <span class="inline-code">html/blocks/sankey.hbs</span>. You can also write this out in your copy doc and reference it using <span class="inline-code">copy.[variable]</span>. Add <span class="inline-code">class="align-center"</span> to anything, like the headers for this chart, to center align.
		</div>
	</div>
</section>