<section>
	<!--  try adding class="fullheight", "grey", or "dark" to this section -->
	<div class="wrapper">
		<!--  put your headers or charts in <div class="prose"> to put it in a narrow column -->
		<h2>Hed</h2>
		<h4>Dek</h4>
		<div class="chart chart-wide multiple-table-wrapper">
		</div>
		<div class="prose">
			<p>This is a paragraph following your chart. You can edit it and move it around in <span class="inline-code">html/blocks/smallMultipleTable.hbs</span>. You can also write this out in your copy doc and reference it using <span class="inline-code">copy.[variable]</span>. Add <span class="inline-code">class="align-center"</span> to anything, like the headers for this chart, to center align.
		</div>
	</div>
</section>
