@import '_variables';

.map-container {
  height: 600px;
}

.map-container .country-lines {
  fill: $dark;
  stroke: white;
}

.dark {
  .map-container .country-lines {
    fill: white;
    stroke: $dark;
  }
}