@import '_variables';

.map-container {
  height: 600px;
}

.map-container .state-lines {
  fill: $mapcolorDark;
  stroke: $mapcolorLight;
}

.dark {
  .map-container .state-lines {
    fill: $mapcolorLight;
    stroke: $mapcolorDark;
  }
}