@import '_variables';

.df-wrapper#scrolly {
	.scrolly-wrapper {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 10px;
		width: 100%;
		max-width: 1120px;
		margin: 0 auto;

		> * {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}

		figure {
			position: -webkit-sticky;
			position: sticky;
			display: flex;
			align-items: center;
			top: 0;
			width: 100%;
			margin: 0;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);

			.wrapper {
				background-color: $gray4;
				max-width: 100%;
			}
		}

		article {
			position: relative;
			padding: 0 10px;
			max-width: 300px;

			&.wide {
				max-width: 480px;
			}

			.step {
				display: flex;
				align-items: center;
				margin: 0 auto 20px;
				color: $black;
				opacity: 0.25;

				.prose {
					min-height: 100px;
					padding: 8px;
					background-color: $gray4;
					border-radius: 1px;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&.is-active {
					opacity: 1;
				}
			}
		}
	}

	&.gray {
		background-color: $gray4;

		figure {
			.wrapper {
				background-color: white;
			}
		}

		.step {
			.prose {
				background-color: white !important;
			}
		}
	}

	&.dark {
		background-color: $dark;

		figure {
			.wrapper {
				background-color: $gray1;
			}
		}

		.step {
			.prose {
				background-color: white;
			}
		}
	}
}