<!--  try adding a dark or gray class to this section-->
<section class="df-wrapper gray" id="scrolly">
  <div class="scrolly-wrapper">
  <figure>
    <!--  try adding a fullwidth class to this wrapper-->
    <div class="wrapper">
  		<h2>Hed</h2>
  		<h4>Dek</h4>
      <p class="lead">0</p>
      <!-- to add a chart here, run gulp charts and then move the chart div from the your new hbs partial into here  -->
      <div class="chart chart-wide">
      </div>
    </div>
  </figure>
  <!--  try adding a wide class to the article-->
  <article>
    <div class="step" data-step="1">
      <div class="prose">
        <h5>Step 1</h5>
      </div>
    </div>
    <div class="step" data-step="2">
      <div class="prose">
        <h5>Step 2</h5>
      </div>
    </div>
    <div class="step" data-step="3">
      <div class="prose">
        <h5>Step 3</h5>
      </div>
    </div>
    <div class="step" data-step="4">
      <div class="prose">
        <h5>Step 4</h5>
      </div>
    </div>
  </article>
</div>
</section>
