<section class='yelp-map-list-wrapper'>
  <div class='yelp-map-wrapper'>
		<div class="yelp-map-container">
			<div class="tooltip" id="map-tooltip"></div>
		</div>
  </div>
  <div class='yelp-list-wrapper'>
    <div class='yelp-list-header'>
      <div>
        <h4></h4>
        <p>Top recommended spots</p>
      </div>
    </div>
    <div class='yelp-list-container'></div>
  </div>
</section>


<section>
	<div class="wrapper">
		<h2>Hed</h2>
		<h4>Dek</h4>
		<div class="chart chart-wide table-container">
		</div>
		<div class="prose">
			<p>This is a paragraph following your chart. You can edit it and move it around in <span class="inline-code">html/blocks/beeswarm.hbs</span>. You can also write this out in your copy doc and reference it using <span class="inline-code">copy.[variable]</span>. Add <span class="inline-code">class="align-center"</span> to anything, like the headers for this chart, to center align.
		</div>
	</div>
</section>
