@import '_variables';

.multiple-armadillo-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .multiple-armadillo-container {
    margin: 0 20px 20px 0;

    .armadillo {
      fill: $dark;
      stroke: white;
      stroke-width: 1;
    }

    .x.axis {
      text {
        transform: rotate(90deg) translateY(-2px);
        text-anchor: middle;
      }

      &.text-bg {
        text {
          stroke: white;
          stroke-width: 3px;
        }
      }
    }
  }
}

.dark {
  .multiple-armadillo-wrapper {
    .multiple-armadillo-container {
      .armadillo {
        fill: $highlight;
        stroke: $dark;
      }

      .x.axis {
        &.text-bg {
          text {
            stroke: $dark;
            stroke-width: 3px;
          }
        }
      }
    }
  }
}