@import '_variables';

.map-container {
	height: 600px;
}

.map-container .state-lines {
	fill: $mapcolorDark;
	stroke: #fff;
}

.df-wrapper.dark {
	.map-container .state-lines {
		fill: $mapcolorLight;
		stroke: $dark;
	}
}